/* all elements on the page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* body */
body{
    background-color: #000000ea;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0px 10px;
}

a{
    text-decoration: none;
}

/* all li */
li{
    list-style-type: none;
}

/* all sections */
section{
    text-align: left;
    margin-top: 20px;
}

/* data-testid="test-profile-card" - the card container itself */
[data-testid="test-about-page"]{
    border: 2px solid #2c3ee0;
    padding: 20px;
    border-radius: 5px;
    background-color: #f5f2f2;
    text-align: center;
    width: 80vh;
    color: #000000ea;
    margin: 10px 0px;
}
.back-btn{
    text-align: left;
}


section>h2{
    margin-bottom: 10px;
}