/* all elements on the page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* body */
body{
    background-color: #000000ea;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0px 10px;
}

/* data-testid="test-profile-card" - the card container itself */
[data-testid="test-profile-card"]{
    border: 2px solid #2c3ee0;
    padding: 20px;
    border-radius: 5px;
    background-color: #f5f2f2;
    text-align: center;
    width: 80vh;
    color: #000000ea;
}

/* data-testid="test-user-avatar" */
[data-testid="test-user-avatar"]{
    width: 150px;
    height: 150px;
    border: 1px solid #2c3ee0;
    border-radius: 80px;
}

/* data-testid="test-user-time" */
[data-testid="test-user-time"]{
    margin-top: 6px;
}

/* ul of data-testid="test-user-social-links" */
[data-testid="test-user-social-links"]>ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-top: 6px;
}

/* h3 of data-testid="test-user-social-links" */
[data-testid="test-user-social-links"]>h3{
    margin-top: 10px;
}

/* li under ul of data-testid="test-user-social-links" */
[data-testid="test-user-social-links"]>ul>li{
    border: 1px solid blue;
    border-radius: 4px;
    padding: 0px 5px;
}

a{
    text-decoration: none;
}

/* all li */
li{
    list-style-type: none;
}

/* all sections */
section{
    text-align: left;
    margin-top: 10px;
}

/* data-testid="test-user-hobbies" */
 [data-testid="test-user-hobbies"]{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    margin-bottom: 5px;
 }
 [data-testid="test-user-hobbies"]>li{
    border: 1px solid blue;
    padding: 0px 5px;
    border-radius: 5px;
     margin-top: 5px;
 }

 /* data-testid="test-user-dislikes" */
 [data-testid="test-user-dislikes"]{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    margin-bottom: 5px;
 }
 [data-testid="test-user-dislikes"]>li{
    border: 1px solid blue;
    padding: 0px 5px;
    border-radius: 5px;
     margin-top: 5px;
 }

.user-info{
    text-align:center;
    margin: 20px 0px;
}

.user-info>a{
    border: 1px solid blue;
    border-radius: 4px;
    padding: 0px 5px;
}

/* Media query for screens with a maximum width of 768px */
@media screen and (max-width: 768px) {
    body{
    min-height: 90vh;
    padding: 0px 10px;
    margin-bottom: 30px;
}
}


